@tailwind base;
@tailwind components;
@tailwind utilities;

/* DAG 节点 tooltip 样式 */
.dag-node-tooltip .ant-tooltip-inner {
    background-color: #f8fafc;
    border: 1px solid #1d4ed8;
    border-radius: 6px;
    padding: 8px;
    max-width: 450px;
    max-height: 400px;
    overflow: auto;
}

.dag-node-tooltip .ant-tooltip-arrow::before {
    background-color: #f8fafc;
    border: 1px solid #1d4ed8;
}